annotated-types==0.7.0
annoy==1.17.3
anyio==4.12.1
asttokens==3.0.0
bibtexparser==1.4.3
biopython==1.86
blis==1.3.0
catalogue==2.0.10
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
choreographer==1.1.1
click==8.3.0
cloudpathlib==0.23.0
confection==0.1.5
contourpy==1.3.3
cycler==0.12.1
cymem==2.0.11
decorator==5.2.1
et_xmlfile==2.0.0
executing==2.2.1
feedparser==6.0.12
fonttools==4.60.0
forestplot==0.4.1
h11==0.16.0
hdbscan==0.8.40
httpcore==1.0.9
httpx==0.28.1
idna==3.11
iniconfig==2.1.0
ipython==9.5.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
kaleido==1.1.0
kiwisolver==1.4.9
langcodes==3.5.0
language_data==1.3.0
llvmlite==0.44.0
logistro==1.1.0
marisa-trie==1.3.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.3
mdurl==0.1.2
murmurhash==1.0.13
narwhals==2.5.0
numba==0.61.2
numpy==2.2.6
openpyxl==3.1.5
orjson==3.11.3
packaging==25.0
pacmap==0.8.0
pandas==2.3.2
parso==0.8.5
patsy==1.0.1
pexpect==4.9.0
pillow==11.3.0
plotly==6.3.0
pluggy==1.6.0
preshed==3.0.10
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
pyCirclize==1.10.1
pycparser==2.23
pydantic==2.12.2
pydantic_core==2.41.4
Pygments==2.19.2
pynndescent==0.5.13
pypalettes==0.2.1
pyparsing==3.2.4
pyperclip==1.11.0
pytest==8.4.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
pyzotero==1.7.6
requests==2.32.5
rich==14.2.0
rpy2==3.6.3
rpy2-rinterface==3.6.3
rpy2-robjects==3.6.2
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
setuptools==80.9.0
sgmllib3k==1.0.0
shellingham==1.5.4
simplejson==3.20.2
six==1.17.0
smart_open==7.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
stack-data==0.6.3
statsmodels==0.14.5
thinc==8.3.6
threadpoolctl==3.6.0
tqdm==4.67.1
traitlets==5.14.3
typer==0.19.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
umap-learn==0.5.9.post2
urllib3==2.5.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
whenever==0.9.5
wrapt==1.17.3
xgboost==3.0.5
xlrd==2.0.2
